body{
    background-color: black;
    margin-top: 100px;
}

img{
    border: 7px solid white;
    width: 500px;
    height: 350px;
}

.poster{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
}

hr{
    width: 20%;
}